<!DOCTYPE html>
<html>
<p style="text-align: center;"><strong><span style="font-size: 30px;">THE PHILIPPINES</span></strong></p>
<hr>
<p><br></p>
<p><img src="Philippines.png" style="float: left; text-align: left; display: inline-block; width: 318px; height: 300px;">&nbsp; The Philippines</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The Philippines, formally the Republic of the Philippines, is a Southeast Asian archipelago. It is made up of about 7,640 islands in the western Pacific Ocean that are divided into three major geographical divisions from north to south: Luzon, Visayas, and Mindanao. The Philippines is well-known for its gorgeous beaches and delectable fruit. The archipelago was named after King Philip II of Spain and is situated in Southeast Asia. However, its sandy beaches are one of the key reasons why tourists from all over the world flock to the Philippines, and the top 10 countries that love the Philippines rate the country among the best islands in the world. Boracay is a sure-fire success for tourists and beachgoers alike. Many people from all over the world wish to visit this island.</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<hr>
<p><img src="Luzon.jpg" style="float: left; text-align: left; display: inline-block; width: 318px; height: 300px;">&nbsp; Luzon</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Luzon is the Philippines&apos; largest and most populated island, situated at the country&apos;s northernmost point. It is home to Manila, the country&apos;s capital, and is known for its mountains, beaches, and coral reefs. The city, which is situated on a deep bay and is renowned for its sunsets, has many Spanish-colonial landmarks, national memorials and monuments, a centuries-old Chinatown, and a diverse selection of museums. Luzon is the Philippines&apos; largest and most strategic island. It is home to Manila, the country&apos;s capital and largest city, as well as Quezon City. It is bounded on the east by the Philippine Sea, on the south by the Sibuyan Sea, and on the north by the South China Sea. It is located in the northern part of the Philippine archipelago (west). Luzon, the Visayas, and Mindanao are the three island groups that make up the Philippine archipelago. Luzon, Palawan, Mindoro, Marinduque, Masbate, Romblon, Catanduanes, Batanes, and Polillo are all part of the Luzon archipelago.</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<hr>
<p><img src="Visayas.jpg" style="float: left; text-align: left; display: inline-block; width: 318px; height: 300px;">&nbsp; Visayas</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; One of the Philippines&apos; three major island groups is Visayas. The triangular Fort San Pedro and the Basilica del Santo Nio are among Cebu City&apos;s Spanish colonial architecture in Central Visayas. The Chocolate Hills of Bohol Island are a collection of over 1,000 conical, grass-covered mounds that turn brown during the dry season. The Philippine Tarsier Sanctuary in Corella protects endangered bug-eyed primates known as tarsiers. Despite its small size in comparison to its neighboring island groups, Luzon and Mindanao, Visayas should not be overlooked. The Visayas Region is also home to a variety of pristine white sand beaches and one of its remote, scattered islands witnessed a significant historical event.</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<hr>
<p><img src="Mindanao.jpg" style="float: left; text-align: left; display: inline-block; width: 318px; height: 300px;"></p>
<p>&nbsp; Mindanao</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; In the southern Philippines, Mindanao includes the massive island of Mindanao as well as smaller islands. The Philippine Eagle Centre and Davao Crocodile Park in Davao, the country&apos;s largest district, showcase local wildlife. The Durian Dome, named after the spiky, smelly fruit that grows in abundance on Mindanao, is part of the urban People&apos;s Park, which also includes statues of indigenous people. Mount Apo, in the southwest, has trails and a pool. Mindanao, the country&apos;s second largest island group after Luzon, has been dubbed the &apos;Land of Promise&apos; due to its promising natural resources. It&apos;s also known for having the Philippines&apos; surf capital, a well-known highly-urbanized community, and jaw-dropping beaches.</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<hr>
<p><br></p>

</html>